{% extends "layout.twig" %}
{% block title %}へろー{% endblock %}
{% block content %}
  {{ name|e }}<br />
  <a href="{{ path('hello', {name: name}) }}">もう一回</a><br />
  <a href="{{ path('homepage') }}">TOPへ</a><br />
{% endblock %}
